*{
    /* Colors */
    --main-bg: #EEEEEE;
    --panel-bg: #AAAAAA;
    --tool-panel-bg: #CCCCCC;
    --top-bar: var(--main-bg);
    --heading: #658894;
    --text-light: #EEEEEE;
    --text-dark: #000000;
    --button-norm: #FA8814;
    --button-hover: #ffd3d0;
    --button-down: #0085AD;
    --button-dark-norm: #6D94A1;
    --button-dark-hover: #99CEE0;
    --button-dark-down: #53717A;
    --button-icon: #000000;
    --selection: #FA8814;
    --tab-active: #ffffff;
    --tab-inactive: var(--heading);
    --border: #39535c;

    /* Settings */
    --corner-radius: 10px;
}