.editListTitle{
    text-align: center;
    padding: 5px;
    font-weight: bold;
    color: var(--text-dark);
}

.editList{
    display: flex;
    flex-direction: column;
    background: var(--heading);
    border: 2px solid var(--border);
    border-radius: 10px;
    overflow: hidden;
}

.editList > .heading{
    display: flex;
    flex-direction: row;
    justify-content: center;
    color: var(--text-dark);
}

.editList > .heading > div{
    flex-grow: 1;
    text-align: center;
    padding-bottom: 5px;
}

.editList > .list{
    display: flex;
    flex-direction: column;
    min-height: 15px;
    max-height: 10em;
    overflow-y: auto;
}

.listInput{
    min-width: 0;
    border: 0;
    padding: 5px;
    border-bottom: 1px solid #DDD;
}

.editList > .addBtn{
    display: flex;
    flex-direction: row;
    justify-content: center;
    background: var(--button-dark-norm);
    border: none;
    padding: 5px;
}

.addBtn:hover{
    background: var(--button-dark-hover);
}

.addBtn:active{
    background: var(--button-dark-down);
}

.addBtn > *{
    width: 20px;
    height: 20px;
    fill: var(--text-dark);
    stroke: var(--text-dark);
}

.deleteBtn{
    background: var(--button-dark-norm);
    border: none;
    border-bottom: 1px solid var(--button-dark-down);
}

.deleteBtn:hover{
    background: var(--button-dark-hover);
}

.deleteBtn:active{
    background: var(--button-dark-down);
}

.deleteBtn > *{
    width: 20px;
    height: 20px;
    fill: var(--text-dark);
    stroke: var(--text-dark);
}