.viewportControl{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30pt;
    height: 30pt;
    background: #AAAAFF;
    border: 3px solid #AAAAAA;
    border-radius: 1000px;
    margin: 5px;
}

.viewportControl:hover:not(.controlSelected){
    background: #9999DD;
}

.viewportControl:active:hover{
    background: #7676b9;
}

.controlSelected{
    background: #7676b9;
}

.icon{
    width: 20pt;
    height: 20pt;
}

.iconDisabled{
    opacity: 0.25;
}