.viewportControl{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30pt;
    height: 30pt;
    background: var(--button-norm);
    border: 3px solid var(--border);
    border-radius: 1000px;
    margin: 5px;
}

.viewportControl:hover:not(.controlSelected){
    background: var(--button-hover);
}

.viewportControl:active:hover{
    background: var(--button-down);
}

.controlSelected{
    filter: brightness(0.7);
}

.icon{
    width: 20pt;
    height: 20pt;
}

.iconDisabled{
    opacity: 0.25;
}