.viewportControl{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background: var(--button-norm);
    border: 3px solid var(--border);
    border-radius: 1000px;
    margin: 5px;
}

.viewportControl:hover:not(.controlSelected){
    background: var(--button-hover);
}

.viewportControl:active{
    background: var(--button-down);
    filter: brightness(0.8);
}

.controlSelected{
    background: var(--button-down);
}

.icon{
    width: 25px;
    height: 25px;
}

.iconDisabled{
    opacity: 0.25;
}